<nav class="navbar navbar-inverse">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed"
				data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
				aria-expanded="false">
				<span class="sr-only">Toggle navigation</span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span> 
				<span class="icon-bar"></span>
			</button>
		</div>
	</div>
</nav>


<div class="container">

	<div class="row">
		<a href="users/web/index.phtml#/user/add" class="btn btn-primary "> New User  </a>
	</div>

	<div class="row">

		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<h3>Customer</h3>
			</div>
			<div class="col-md-4"></div>
		</div>

		<label for="filterName'"> Filter </label>
		<input class="form-control" type="text" ng-model="filterName" name="filterName" id="filterName">

		<table class="table  table-striped">
			<tr>
				<td class="">Name</td>
				<td class="">Birdy day</td>
				<td class="">delete</td>
			</tr>
		
			<tr ng-repeat="user in users | filter : filterName">
				<td><a ng-click="update(user.id)"> {{user.name}} </a></td>
				<td>{{user.date}}</td>
				<td><a ng-click="delete(user.id)"> <span class="glyphicon glyphicon-remove"></span> </td>
			</tr>
		</table>
	</div>
</div>